* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* debug class */
.debug {
    header {
        background-color: aquamarine;

    }

    nav {
        background-color: orange;
    }

    main {
        .jumbotron {
            background-color: blue;
        }

        .invite-only {
            background-color: white;
        }

        .community {
            background-color: lightgray;
        }

        .fandom {
            background-color: white;
        }

        .technology {
            background-color: lightgray;
        }



    }

    .topics-container {
        border: 2px solid black;
    }

    .debug-color-pink {
        background-color: palevioletred;
    }

    .debug-color-light-blu {
        background-color: lightblue;
    }
}


html,
body {
    height: 100%;

}

.d-flex-nav {
    display: flex;
    align-items: center;
}


/* Start hader */
header {
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;


}

nav {
    justify-content: space-between;
    width: 50%;
    height: 50px;


    .logo {
        height: 50px;
        flex-grow: 1;
        justify-content: flex-start;
    }

    .login {
        height: 50px;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .menu-link {
        height: 50px;
        flex-grow: 2;
        justify-content: center;
        gap: 1rem;
    }
}

/*  Header finish */

/*start main*/
.topics-section {
    height: 500px;
    display: flex;

}

.topics-container {
    height: 400px;
    width: 70%;
    margin: auto;
}

.jumbotron-content {
    height: 100%;

}