* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* debug class */
.debug {
    header {
        background-color: aquamarine;

    }

    nav {
        background-color: orange;
    }
}

html,
body {
    height: 100%;

}

.d-flex {
    display: flex;
}


/* Start hader */
header {
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;


}

nav {
    justify-content: space-between;
    width: 50%;
    height: 50px;
}

.logo {
    height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login {
    height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-link {
    height: 50px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*  Header finish */

/*start main*/